# editor settings
.idea
.vscode
_darcs

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts
*.pt

# ipython/jupyter notebooks
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Results temporary
*.png
*.tsv
*.csv
*.csv#
*.html
wandb/
exps/
ne_10m_urban_areas.VERSION.txt
*.log
*.txt

vlm_*.txt
full_pipeline_output/
macro_test_results*/
special_loc_scrape*/
retrieval_exps/
iwildcam_subset/

# Do not ignore
!templates/cluster_dashboard.html